page-login {


    .margin{
  
          margin-left:60%; 
      }
       .margin-l{
          
         margin-left: 35%; 
      }
  
          .margin-r{
          
         margin-right: 60px; 
      }   
  
  .background{
  
    // background-image: url("../assets/imgs/login_img2.png");    
    //   height: 100%;
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   align-content: center;
    //   text-align:center;
    background: linear-gradient( rgba(0,0,0,0.5),
     rgba(0, 0, 0, 0.5) ),
     url(../assets/imgs/login_img.png)
      no-repeat center center;

      background-size: cover;
      text-align:center;
      height: 100%;
  
  
      }   
      
      
      
         .pad{
  
          text-align:center;    
  
      }
  
  
  .button.customBtn{
      // width:340px;
       width: 80%;
        left: 0%;
  } 
  
   .main-view{
        height: 100%;
  
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      align-content: center;
      text-align:center;
      // background: transparent;
      //  opacity: .8;
        background-image: url("../assets/imgs/box.png");
      //  background-color: white;
    }
  
  
   ion-item.item {
        width: 80%;
        
        left: 10%;
        
       
  }



  @media screen and (max-width: 599px) {

 


}


@media screen and ( max-width: 1366px) and (min-width: 600px ) {


    form, input, optgroup, select {
        margin: 0;
        font: inherit;
        color: inherit;
        padding-top: 20%;
    }


 h2 {
  margin-top: 1.8rem;
  font-size: 4.6rem;
}

p {
margin-top: 1.8rem;
font-size: 2.8rem;
}



}
  
  }
  