page-catering-item-details {
  // .background{

  //     background-color: #f7f2f2;

  // }

  .badge-md {
    border-radius: 4px;
    color: #fff;
    background-color: green;
  }

  .center {
    text-align: center;
  }

  #font {
    // font-size: 1.0rem !important
    height: 2.6rem !important;
    width: 1.6rem !important;
  }

  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    height: 0px;
  }

  .ionic-selectable {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
  }

  .border {
    border: 5px;
  }

  .margin {
    margin-top: 1px;
    font-size: 15px;
  }

  .button.customBtn {
    width: 100%;
    margin-top: 0px;
  }

  .margin {
    margin-right: 3%;
  }

  .fakeItem {
    @keyframes animatedBar {
      0% {
        background-position: -406px 0;
      }
      100% {
        background-position: 0 0;
      }
    }

    h2,
    h3,
    p {
      background-color: lightgrey;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
      position: relative;
      background: linear-gradient(to right, #dddddd, #eeeeee);
      animation: animatedBar 700ms linear infinite;

      &:after {
        position: absolute;
        display: block;
        content: "";
        right: 0;
        bottom: 0;
        top: 0;
        background-color: white;
      }
    }

    h2:after {
      width: 65%;
    }

    h3:after {
      width: 60%;
    }

    p:after {
      width: 40%;
    }
  }
}
