page-list {
    .background{

        background-image: url("../assets/imgs/white_background.png");  
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
        text-align:center;
        opacity: 1.0;
    }

    .center1{
        text-align: center;
       padding-top: 30%

    }

    .button.customBtn{
        width:100%;
        margin-top: -25px;
        // z-index: 9;
    }

}
