<!-- <ion-header>
    <ion-navbar>
  
      <ion-title> Order History </ion-title>
    </ion-navbar>
  </ion-header> -->


<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scheduled List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background">
  <ion-segment [(ngModel)]="food_list" overflow-scroll='true'>
    <ion-segment-button class="segment-button" value="Weekly">
      Weekly
    </ion-segment-button>
    <ion-segment-button value="Monthly">
      Monthly
    </ion-segment-button>

  </ion-segment>

  <div [ngSwitch]="food_list">
    <ion-list *ngSwitchCase="'Weekly'" overflow-scroll='true'>


      <ion-card>
        <ion-item>

          <h2>
            <b>Weekly Foodstuff List -  GHC</b>
          </h2>

        </ion-item>
      </ion-card>

      <ion-item *ngFor="let item of body2">
        <ion-row>

          <ion-col col-5 text-wrap>
            <h4>
              {{item.food_name}}
            </h4>

          </ion-col>
          <ion-col col-3   text-wrap>

            <p>
               {{item.amount}}
            </p>
          </ion-col>
          <ion-col col-4>

            <p>
              <button ion-button color="primary" outline (tap)="edit(item)">Remove</button>
            </p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>




    <ion-list *ngSwitchCase="'Monthly'" overflow-scroll='true'>


      <ion-card>
        <ion-item>

          <h2>
            <b>Monthly Foodstuff List -  GHC</b>
          </h2>

        </ion-item>
      </ion-card>

      <ion-item >
          <div class="center1">
              
              <p style="color: #757575; text-align: center">Monthly Schedule not available </p>
            </div>
      </ion-item>
    </ion-list>
  </div>

<!-- 
  <div class="center1" *ngIf="!body2">
    <img src="assets/imgs/notavail.svg" height="50px" width="70px" />
    <p style="color: #757575; text-align: center">No List created </p>
  </div> -->






</ion-content>
<ion-footer>
  <p>
    <button ion-button color="primary" class="button button-dark customBtn" (tap)="placeOrder(item)">Place Order</button>
  </p>

  <p>
    <button ion-button color="secondary" class="button button-dark customBtn" (tap)="createList()">Create List</button>
  </p>
</ion-footer>