<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background">
  
<!-- <div class="img-circular">url("../assets/icon/male.png");</div><br> -->
<div class="padding-icon">
  <img src="assets/icon/male.png" width="30%" />
</div>

<ion-list *ngFor="let item of user_details">

<p class="down1">{{item.first_name}} {{item.last_name}}</p> 

</ion-list>


<ion-item *ngFor="let item of user_details" >
<ion-row class="container">
<ion-col col-9>
  <h2 style=" color: #781318; font-weight: bolder;">Profile Details</h2>
  <ion-item no-lines> <p class="font_style" text-wrap>Fullname: {{item.first_name}} {{item.last_name}}</p></ion-item>
  <ion-item no-lines> <p class="font_style" text-wrap>Mobile Number: {{item.mobile_number}}</p></ion-item>
  <ion-item no-lines> <p class="font_style" text-wrap>Email: {{item.email}}</p></ion-item>

</ion-col>
<ion-col col-3>
  <button ion-button color="primary" outline (tap)="edit(item)"> Edit</button>
</ion-col>
</ion-row>
</ion-item>



</ion-content>

