page-receipt {

    .center{
        text-align: center;
        padding-top: 10%;
        background-color: #f7f2f2;
    }

    .pad{
        text-align: center;
    }


    .background{

        background-color: #f7f2f2;
        // background-image: url("../assets/imgs/white_background.png");  
        // height: 100%;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // align-content: center;
        // text-align:center;
        // opacity: 1.0;

      
    }


      //new
      @media screen and (max-width: 599px) {

        .imgsize{
            height: 150px;
             width: 250px;

             
          }
          

          .button.customBtn{
            width: 90%;
            // height: 60px;
            // font-size: 21px;
        
        }

       



      }


      @media screen and ( max-width: 1366px) and (min-width: 600px ) {
        .imgsize{
            height: 300px;
             width: 300px;
          }

          .button.customBtn{
            width: 90%;
            height: 65px;
            font-size: 24px;
        
        }

                 p {
                    overflow: inherit;
                    font-size: 2.9rem !important;
                 
                }

                 h2 {
                    margin: 2px 0;
                    font-size: 2.5rem !important;
                    font-weight: normal;
                 }

      }


}
