page-profile-edit {

    .center{

        text-align: center;
    }

.button.customBtn{
    width:100% !important;
    margin-top: -25px;
    // z-index: 9;
}

.padding-icon
{
 padding-top: 30%;   
 text-align: center; 
}

}
