page-contact {

    .background{

        background-image: url("../assets/imgs/white_background.png");  
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
        text-align:center;
        opacity: 1.0;
    }

    .center1{
        text-align: center;
       padding-top: 30%

    }

    .button.customBtn{
        width:100%;
        margin-top: -25px;
        // z-index: 9;
    }

  .img-circular{
    width: 100px;
    height: 100px;
    background-image: url("../assets/icon/male.png"); 
    background-size: cover;
    display: block;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background-color: white;
    margin-top: 2%;
    right: 35%;
    // /* position: absolute; */
    z-index: 10;
   }

   .down1{

    padding-top: 0%;
    text-align: center;
    color: #781318;
    font-size: 20px;
    font-weight: 500;
   
  }

  .padding-icon
  {
   padding-top: 10%;    
}
  .pers{
      align-content: center; color: black; font-weight: bold;
  }

  .font_style{
    font-size: 13px !important
  }




    .padd1{

   
    color: #781318;
  }
  .up{

  
     margin-top: -7%;
     right: 40%;
     position : absolute;
  
  }

  .up1{

     margin-top: -7%;
    right: 25%;
      text-align:center; 
       position : absolute;
  
  }


      .down{

     padding-top: -50%;
    
     position : fixed;
  }

}
