<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meals & Foodstuffs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">

  <p class="middley">Hi! What do you want to order today?</p>

  <ion-grid>
    <ion-row>

      <ion-col col-6 class="middle">
        <img src="assets/imgs/meal.png" class="imgsize" tappable (tap)="meals()" />
        <figcaption>
          <p style=" color: #000;">Meals</p>
        </figcaption>
      </ion-col>

      <ion-col col-6 class="middle">
        <img src="assets/imgs/food.png" class="imgsize" tappable (tap)="food()" />
        <figcaption>
          <p style=" color: #000;">Food Stuffs</p>
        </figcaption>
      </ion-col>


    </ion-row>
  </ion-grid>



  <ion-row class="middlewhite">
    <p class="left">My Orders</p>
    <ion-col col-12>

      <p *ngIf="order_date?.length > 0 || order_date?.length != null">Last Order placed on : {{order_date | date: 'medium'}}</p>
      <p>

        <p *ngIf="order_date?.length == 0 || order_date?.length == null">No Order place yet</p>
        <p>
          <button ion-button color="primary" class="button button-dark customBtn" (click)="check_orders()"> Check Orders</button>
        </p>

    </ion-col>
  </ion-row>

</ion-content> -->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meals & Foodstuffs</ion-title>

    <!-- <ion-buttons end class="margin">
      <button ion-button icon-only (tap)="notice()">
     <ion-icon name="alert" class="right"></ion-icon>

      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <p class="middley">Hi {{first_name}}! What do you want to order today?</p>
  <p class="middley" *ngIf="points">
    You have <span style="color: #ffc107"> {{points}}</span> MnF rewards points
  </p>

  <!-- <ion-list class="main-view"> -->
  <br />

  <!-- <div class="paddup">
      <p>
        <button
          ion-button
          color="primary"
          class="button button-dark customBtn1"
          tappable
          (tap)="food()"
        >
          FOODSTUFFS
        </button>
      </p>
      <p>
        <button
          ion-button
          color="secondary"
          class="button button-dark customBtn1"
          tappable
          (tap)="meals()"
        >
          MEALS
        </button>
      </p>
    </div> -->
  <!-- </ion-list> -->

  <div class="direct_service_row">
    <div class="column3">
      <div class="border" tappable (tap)="meals()">
        <img src="assets/imgs/catering.svg" class="img_size" />

        <figcaption>
          <b id="txtcolor">Meals</b>
        </figcaption>
      </div>
    </div>

    <div class="column4">
      <div class="border" tappable (tap)="food()">
        <img src="assets/imgs/groce3.png" class="img_size" />
        <figcaption>
          <b id="txtcolor">Foodstuffs</b>
        </figcaption>
      </div>
    </div>

    <div class="column5">
      <div class="border" tappable (tap)="catering()">
        <img src="assets/imgs/buffet.svg" class="img_size" />
        <figcaption>
          <b id="txtcolor">Catering Services</b>
        </figcaption>
      </div>
    </div>

    <div class="column6">
      <div class="border" tappable (tap)="loyalty()">
        <img src="assets/imgs/online-shopping.svg" class="img_size" />
        <figcaption>
          <b id="txtcolor">Deals</b>
        </figcaption>
      </div>
    </div>
  </div>

  <div class="section_2">
    <div class="activi">
      <p class="fboldness">Recent Activities</p>
    </div>

    <ion-list>
      <ion-card>
        <ion-item>
          <ion-row>
            <ion-col col-2>
              <ion-avatar item-start>
                <img src="assets/imgs/shopping.svg" />
              </ion-avatar>
            </ion-col>
            <ion-col col-5>
              <h2 class="fboldness" text-wrap>Foodstuff Orders:</h2>
              <p
                *ngIf="food_order_date?.length > 0 || food_order_date?.length != null"
                text-wrap
              >
                Last Order placed on : {{food_order_date | date: 'medium'}}
              </p>
              <p
                *ngIf="food_order_date?.length == 0 || food_order_date?.length == null"
                text-wrap
              >
                No Order placed yet
              </p>
            </ion-col>
            <ion-col col-5 text-wrap>
              <button
                ion-button
                color="primary"
                outline
                icon-end
                (click)="check_orders()"
                text-wrap
              >
                Check Orders

                <!-- <ion-icon name="trending-up"></ion-icon> -->
              </button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-row>
            <ion-col col-2>
              <ion-avatar item-start>
                <img src="assets/imgs/back.svg" />
              </ion-avatar>
            </ion-col>
            <ion-col col-5>
              <h2 class="fboldness" text-wrap>Meals Orders:</h2>
              <p
                *ngIf="order_date?.length > 0 || order_date?.length != null"
                text-wrap
              >
                Last Order placed on : {{order_date | date: 'medium'}}
              </p>
              <p
                *ngIf="order_date?.length == 0 || order_date?.length == null"
                text-wrap
              >
                No Order placed yet
              </p>
            </ion-col>
            <ion-col col-5>
              <button
                ion-button
                color="secondary"
                outline
                icon-end
                (click)="check_orders()"
                text-wrap
              >
                Check Orders

                <!-- <ion-icon name="trending-up"></ion-icon> -->
              </button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
</ion-content>

<!-- <ion-footer>
  <div class="ash">
    <p class="middlewhite2">My Orders</p>

    <h4 class="middle">Foodstuff Orders:</h4>
    <p
      class="middle"
      *ngIf="food_order_date?.length > 0 || food_order_date?.length != null"
    >
      Last Order placed on : {{food_order_date | date: 'medium'}}
    </p>
    <p
      class="middle"
      *ngIf="food_order_date?.length == 0 || food_order_date?.length == null"
    >
      No Order placed yet
    </p>

    <h4 class="middle">Meals Orders:</h4>
    <p
      class="middle"
      *ngIf="order_date?.length > 0 || order_date?.length != null"
    >
      Last Order placed on : {{order_date | date: 'medium'}}
    </p>
    <p
      class="middle"
      *ngIf="order_date?.length == 0 || order_date?.length == null"
    >
      No Order placed yet
    </p>

    <p>
      <button
        ion-button
        color="secondary"
        class="button button-dark customBtn"
        (click)="check_orders()"
      >
        Check Orders
      </button>
    </p>
  </div>
</ion-footer> -->
