page-home {

    .background
    {
        //   background-image: url("../assets/imgs/home_asset.png"); 
     
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // align-content: center;
        // text-align:center;
        // opacity: 1.0;



        background: linear-gradient( rgba(0,0,0,0.5),
        rgba(0, 0, 0, 0.5) ),
        url(../assets/imgs/home_asset.png)
         no-repeat center center;
    
         background-size: cover;
         text-align:center;
         height: 100%;
     } 
    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        top: -2px;
        bottom: auto;
        background-position: left 0 top 0;
        height: 0px;
    }

    
    #background-image{

        background-image: url("../assets/imgs/choice.svg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // align-content: center;
        // text-align:center;
      }

      .main-view{
        height: 43%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        text-align: center;
        margin-top: 30%;
        background-image: url(../assets/imgs/box.png);
    }
  


      .imgsize{
        height: 100px;
         width: 100px;
      }

    figcaption{
        text-align:center;
    }

    .middle{
        text-align:center;
        
    }

    .middley{
        text-align:center;
        color: white
        // font-weight: 600
    }

    .middlewhite{
        text-align: center;
        background-color: white;
        width: 90%;
        height: 24%;
        margin-left: 6%;
        margin-top: 30%;
    }

    .middlewhite2{
        text-align: center;
        background-color: white;
        
       
    }

    .left{
        float: left;
        margin-left: 6%;
        // font-weight: 600
    }

    .wide{
        width: 100%;   
    }

    .ash{
        background-color: #dfdddd;
        
    }

    .paddup{
        padding-top: 5%;
    }

    .button.customBtn{
        width:100%;
        // margin-top: -25px;
    }

    .button.customBtn1{
        width:50%;
        // margin-top: -25px;
    }


    @media screen and (max-width: 599px) {

    }
    
    
    @media screen and ( max-width: 1366px) and (min-width: 600px ) {
        
        .button.customBtn
        {     
            width: 100%;
            height: 65px;
            font-size: 24px;
        }

        .imgsize{
            height: 150px;
             width: 150px;
          }
        
     .middley {
            text-align: center;
            padding-top: 10%;
        }
    
    
     h2 {
      margin-top: 1.8rem;
      font-size: 4.6rem;
    }
    
    p {
    margin-top: 1.8rem;
    font-size: 2.8rem;
    }
    
    }


    @media screen and (max-width: 360px) {

        .main-view{
            height: 63%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            text-align: center;
            margin-top: 30%;
            background-image: url(../assets/imgs/box.png);
        }


    }

}
