page-carts {

    // #logo_size{
    //     width: 20%;
    // }

    #font{
        
        height: 2.6rem !important;
        width: 1.6rem !important;
    }

    .center{

        text-align: center;
    }

.button.customBtn{
    width:100%;
    margin-top: -25px;
}

// .background{

//     background-color: #f7f2f2;

   
// }

.ash{
// color: #d6d6d6;
background-color:  #f7f2f2;
    
}
}
