<ion-header>
  <ion-navbar>

    <ion-title>
      <p>Cart</p>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="background">
  <ion-item *ngIf="cartList?.length == 0">

    <p class="center">
      <b>No Cart</b>
    </p>
  </ion-item>
  <br>


  <div *ngIf="cartList?.length > 0">
    <ion-item *ngFor="let item of cartList">
      <ion-row>
        <ion-col col-2>
          <img *ngIf="item" [src]="item.meal_logo_url" id="logo_size" />        
        </ion-col>

        <ion-col col-6 text-wrap>
          <h4>
            {{ item.meal_name}}
          </h4>
          <p>
            GHC {{ item.price}}
          </p>
        </ion-col>
      <!-- </ion-row>

        <ion-row> -->

        <ion-col col-1>
          <!-- <button id="font" ion-button color="kaya"  (click)="quantityMinus(item)"> -->
            <ion-icon ios="ios-remove-circle" md="md-remove-circle" color="danger" (tap)="quantityMinus(item)"></ion-icon>
          <!-- </button> -->
        </ion-col>

        <ion-col col-1>
          <h4>
            <p>
              <b>{{ item.quantity}}</b>
            </p>
          </h4>
        </ion-col>

        <ion-col col-1>
          <!-- <button id="font" ion-button color="secondary" (click)="quantityAdd(item)"> -->
            <ion-icon ios="ios-add-circle" md="md-add-circle" color="secondary" (tap)="quantityAdd(item)"></ion-icon>
          <!-- </button> -->
        </ion-col>

        <ion-col col-1>
          <!-- <button  id="font" ion-button color="danger" (click)="removeItemFromCart(item)"> -->
            <ion-icon ios="ios-close-circle" md="md-close-circle"  color="red" (tap)="removeItemFromCart(item)"></ion-icon>
          <!-- </button> -->
        </ion-col>
       
      </ion-row>


    </ion-item>
  </div>


  <ion-footer>
    <div *ngIf="cartList?.length > 0">

      <ion-row class="ash">

        <ion-col col-6 text-wrap>
          <p style=" color: #187034;">CART ITEM: {{cartList.length}}</p>

        </ion-col>

        <ion-col col-6 text-wrap>
          <p style=" color: #187034;">CART TOTAL: GHC {{getTotal()}}</p>

        </ion-col>

      </ion-row>
    </div>

    <p>
      <button ion-button *ngIf="cartList.length" color="secondary" class="button button-dark customBtn" (tap)="checkout(item)">Proceed to checkout</button>
    </p>
  </ion-footer>

</ion-content>

<!-- <ion-footer>
  <div>

    <ion-row class="ash">

      <ion-col col-6>
        <p style=" color: #187034;">CART ITEM: {{4}}</p>

      </ion-col>

      <ion-col col-6>
        <p style=" color: #187034;">CART TOTAL: GHC {{590}}</p>

      </ion-col>

    </ion-row>
  </div>

  <p>
    <button ion-button color="secondary"  class="button button-dark customBtn" (tap)="address()">Proceed to checkout</button>
  </p>

</ion-footer> -->