// http://ionicframework.com/docs/theming/

.pricing-plan__list {
  text-align: left;
}

.action-sheet-ios .action-sheet-title {
  padding: 1.5rem;
  text-align: center;
  border-radius: 0;
  border-bottom: 0.55px solid #d6d6da;
  font-size: 1.9rem !important;
  font-weight: 600 !important;
  color: #781318 !important;
}

.action-sheet-md .action-sheet-title {
  text-align: left;
  text-align: start;
  font-size: 1.9rem !important;
  font-weight: 600 !important;
  color: #781318 !important;
  padding: 11px 16px 17px;
}

ion-backdrop {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.01;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0.8 !important;
}

#background2 {
  // background-color: #6c63ff;
  // color: black;
  // font-weight: 500;
  background-image: url("../assets/imgs/white_background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  text-align: center;
  opacity: 1;
}

.down1 {
  padding-top: 0%;
  text-align: center !important;
  color: #781318 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.padding-icon {
  padding-top: 3%;
}

.pad {
  // padding-top: 10%;

  text-align: center;
}

ion-loading.transparent {
  .loading-wrapper {
    // background: transparent;
    box-shadow: none;

    .spinner-crescent circle {
      stroke-width: 8px;
    }
  }
}

@media screen and (max-width: 599px) {
  .sidelist {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    padding-top: 10%;
  }
}

@media screen and (max-width: 1366px) and (min-width: 600px) {
  .sidelist {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    padding-top: 10%;
  }

  h2 {
    margin-top: 1.8rem;
    font-size: 4.6rem;
  }

  p {
    margin-top: 1.8rem;
    font-size: 2.8rem;
  }
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Lato-Black.ttf");
  src: url("../assets/fonts/Lato-BlackItalic.ttf");
  src: url("../assets/fonts/Lato-Bold.ttf");
  src: url("../assets/fonts/Lato-BoldItalic.ttf");
  src: url("../assets/fonts/Lato-Italic.ttf");
  // src: url("../assets/fonts/Lato-Light.ttf");
  // src: url("../assets/fonts/Lato-LightItalic.ttf");
  src: url("../assets/fonts/Lato-Regular.ttf");
  // src: url("../assets/fonts/Lato-Thin.ttf");
}

// @font-face {
//   font-family: "Lato";
//   font-weight: 300;
//   font-style: normal;
//   src: url("../assets/fonts/Montserrat-Light.ttf");
//   src: url("../assets/fonts/Montserrat-Regular.ttf"), local("Montserrat-Light"),
//     local("Montserrat"),
//     url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
// }
