<ion-header>

  <ion-navbar>
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item *ngFor="let item of body2">

    <ion-row class="container">
      <ion-col col-9>
        <h2>Delivery Address</h2>
        <p style="font-size: 13px !important" text-wrap>{{item.address_name}}
          <br text-wrap>{{item.landmark}}
          <br text-wrap>{{mobile_number}}</p>
      </ion-col>
      <ion-col col-3>
        <button ion-button color="secondary" outline (tap)="edit(item)"> Edit</button>
      </ion-col>
    </ion-row>

  </ion-item>

  <ion-item no-lines *ngFor="let item of cartList">
    <ion-row class="container">
      <ion-col col-9 text-wrap>
        <h2 text-wrap> {{ item.meal_name}}</h2>
        <p style="font-size: 13px !important">Quantity x {{ item.quantity}}
        </p>
      </ion-col>
      <ion-col col-3 class="move-down">
        <p>Ghc {{ item.price}}</p>
      </ion-col>
    </ion-row>

  </ion-item>

  <ion-item>
    <ion-row>


      <ion-col col-9>
        <p>Subtotal</p>

      </ion-col>
      <ion-col col-3>
        <p>Ghc {{getTotal()}}</p>
      </ion-col>

      <ion-col col-9>
        <p>Delivery Fee</p>

      </ion-col>
      <ion-col col-3>
        <p>Ghc 10</p>
      </ion-col>

      <ion-col col-9>
        <p>Total Amount</p>

      </ion-col>
      <ion-col col-3>
        <p>Ghc {{getTotal() + 10}} </p>
      </ion-col>
    </ion-row>

  </ion-item>

  <ion-item no-lines>
    <h2>General Request (optional)</h2>

  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Type here..."></ion-input>
  </ion-item>

  <ion-item no-lines>
    <h2>Discount Voucher</h2>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Voucher Code"></ion-input>
  </ion-item>

  <ion-item no-lines>
    <h2>
      <b>Specify Delivery Location</b>
    </h2>
  </ion-item>

  <!-- <ion-list>
  
    <ion-item no-lines>
        <ion-label>
          Default Location</ion-label>
        <ion-checkbox [(ngModel)]="card" (ionChange)="updateCredit()"></ion-checkbox>
      </ion-item> 

  <ion-item no-lines>
      <ion-label>
        Change Delivery Location</ion-label>
      <ion-checkbox [(ngModel)]="different_location" ></ion-checkbox>
    </ion-item>
  </ion-list> 

  <ion-list *ngIf="different_location">
  <ion-item no-lines>
    <h2>New Delivery Location</h2>
  </ion-item>

  <ion-item >
    <ion-input type="text" placeholder="Enter Your new Delivery Location"></ion-input>
  </ion-item>

</ion-list> -->


  <ion-list radio-group [(ngModel)]="yesorno">

    <ion-item no-lines>

      <ion-label>
        Default Location</ion-label>
      <ion-radio checked="true" value="N"></ion-radio>

    </ion-item>


    <ion-item no-lines>
      <ion-label>
        Change Delivery Location</ion-label>
      <ion-radio value="Y"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="yesorno == 'Y'">
    <ion-item no-lines>
      <h2>New Delivery Location</h2>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Enter Your new Delivery Location"></ion-input>
    </ion-item>

  </ion-list>

  <!-- <ion-item no-lines>
    <h2>Pay with</h2>
  </ion-item>

  <ion-list>
  
    <ion-item no-lines>
        <ion-label>
          <ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon> Mobile Money</ion-label>
        <ion-checkbox [(ngModel)]="card" (ionChange)="updateCredit()"></ion-checkbox>
      </ion-item> -->

  <!-- <ion-item no-lines>
      <ion-label>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> Cash on delivery</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list> -->




</ion-content>

<ion-footer>
  <p>
    <button ion-button color="secondary" class="button button-dark customBtn" (tap)="checkout()">Proceed to Pay</button>
  </p>
</ion-footer>