page-checkout {

    .move-down{
        padding-top: 5%;
        
       }

       .center{

        text-align: center;
    }

.button.customBtn{
    width:100%;
    margin-top: -25px;
    // z-index: 9;
}

}
