page-address {

    #background-image{

        // background-image: url("../assets/imgs/undraw.svg");
        // height: 30%;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // z-index: 9;
        
        // align-content: center;
        // text-align:center;
      }
    .background{

        background-color: #f7f2f2;
        // z-index: 9;
    
       
    }

    .center{

        text-align: center;
    }

.button.customBtn{
    width:100%;
    margin-top: -25px;
    // z-index: 9;
}

// .background-image{

//   background-image: url("../assets/imgs/undraw.svg");  
//   height: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   align-content: center;
//   text-align:center;
// }

}
